html
	head
	body
		div esto es un div
		p esto es un parrafo
		h1 esto es un header
		h2 otro header
		h3.header otro header
		div.clase otro div de clase clase
			p#parrafo.center hfhfhfhfhfhfff
		p.center#mio we
		a.link#google(href="http://google.com") google
		a.link#google(href="http://google.com",width=500) google
		div.container(width=600,height=100,color="red") texto del div
			h1#principal(height=100,width=600) Principal
		section
			article
				article
					p parafo dentro de un articulo dentro de un articulo dentro de una seccion
					br/
					p continua el parafo
				articulo hermano
				p.grande texto hermano
			div aparte
